*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: black;
}

.header{
    width: 100%;
    height: 25vh;
    background: black;
}

.sosmed{
    margin-top: 4rem;
    max-width: 20%;
    margin-left: 40%;
}

.sosmed img{
    margin-top: 1rem;
    width: 100%;
}

#logor7{
    width: 13rem;
}

.footer h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
}

.terms-and-service{
    height: 500px;
    border-style: solid;
    border-color: #3087ff;
    margin-bottom: 50px;
    overflow-y: scroll;
    
}

.terms-and-service div{
    text-align: center;
}

.game-type-selection{
    height: 400px;
    border-style: solid;
    border-color: #3087ff;
    margin-bottom: 50px;
    overflow-y: scroll;
}

.errorAlert{
    margin-top: 5px;
    text-align: center;
    color: red;
    padding: 5px 5px;
    border-radius: 3px;
    display: none;
}

/* tambahan */
.container-input-data{
    color: white;
    width: 700px;
    height: auto;
    align-content: center;
    margin: auto auto;
    padding: 20px;
    padding-bottom: 60px;
}
/* tambahan */
.text-h1{
    text-align: center;
}
/* tambahan */
input[type=text], input[type=password]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #bfbfbf;
    box-sizing: border-box;
}
/* tambahan */
input[type=text]:focus, input[type=password]:focus{
    background-color: #cccccc;
    outline: none;
}

/* tambaham */
.submitBtn{
    display: block;
    margin: auto;
    background-color: #3087ff;
    color: white;
    position: relative;
    border: none;
    padding: 8px 50px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    bottom: 10px;
}

.ubipost-background{
    width: 100%;
    height: 7vh;
    background: #575556;
}

.ubipost-text{
    font-size: 2rem;
    float: left;
    margin-left: 6rem;
    color: #ffffff;
}

.ubipost-text h3{
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul{
    background: black;
    margin-top: 2rem;
    padding: 0;
    margin: 0;
    float: right;
}

.last{
    margin-right: 1rem;
}

nav ul li{
    margin-top: 2rem;
    position: relative;
    list-style: none;
    display: inline-block;
    background: black;
}

nav ul li a{
    display: block;
    margin-right: 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav a{
    cursor: pointer;
}

nav ul ul{
    position: absolute;
    display: none;
    z-index: 1;
}

nav ul li:hover > ul{
    z-index: 1;
    display: block;
}

nav ul ul li{
    z-index: 1;
    padding-left: 1rem;
    padding-bottom: 15px;
    float: none;
    display: list-item;
    position: relative;
}

#logo{
    width: 13rem;
    margin-left: 1rem;
    float: left;
}

.fullBackground {
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100vh;
}

.cover{
    width: 100%;
    height: 100vh;
}

.game-type{
    width: 100%;
    background: black;
}

.game-type-description{
    min-height: 300px;
}

.game-type .game-type-text h3{
    /* font-size: 3rem; */
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.container-grid{
    margin-left: 10%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
    color: white;
}

.container-grid div h2{
    font-size: 2rem;
}

.game-type{
    margin-top: 1.5rem;
    font-size: 2rem;
}

.check{
    text-align: center;
    margin-top: 4rem;
}

.check a{
    box-sizing: border-box;
    border: 2px solid white;
    padding: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    font-weight: bold;
}

.check a:hover{
   background: white;
   color: black;
   transition: 0.5s ease;
}

.information-page{
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,1.1)), url(../Image/home_slide1.jpg);
    background-size: cover;
    background-position: center;
}

.information{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.top{
    margin-top: 1rem;
}

.information div h3{
    margin-top: 5rem;
    font-size: 2.5rem;
}

.information div .picture{
    width: 25rem;
}

.more{
    border: 2px solid blue;
    color : white;
    padding: 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.more:hover{
    background: blue;
    transition: 0.5s ease;
}

.footer{
    width: 100%;
    height: 70vh;
    text-align: center;
}

.footer h3{
    color: white;
}

.footer h3 a{
    color: white;
    text-decoration: none;
}

.footer h2{
    color: white;
    font-size: 2rem;
}

.home{
    display: none;;
}

/* tambahan */
.section-title{
    width: 100%;
    min-height: 100px;
    text-align: center;
    /* margin-top: 200px; */
}

/* tambahan */
.section-title h3{
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

@media(max-width: 1024px){

    .footer h3{
        font-size: 1.3rem;
    }

    .game-type .game-type-text h3{
        /* font-size: 2.5rem; */
    }

    .container-grid div h2{
        font-size: 1.5rem;
    }

    .game-type{
        font-size: 1.5rem;
    }

    .check a{
        border: 1px solid white;
        padding: 0.5rem;
    }

    .information div h2{
        font-size: 2rem;
    }

    .information div .picture{
        width: 20rem;
    }

    .more{
        border: 1px solid blue;
        padding: 0.5rem;
    }

    .footer h2{
        font-size: 1.5rem;
    }

    .fullBackground {
        width: 100%;
        height: 60vh;
    }

    .cover{
        height: 60vh;
    }
}

@media(max-width: 780px){
    nav ul li a{
        font-size: 1rem;
        margin-right: 2rem;
    }

    .last{
        margin-right: 0.5rem;
    }

    #logo{
        width: 10rem;
        margin-left: 0.5rem;
    }

    .game-type .game-type-text h3{
        /* font-size: 2rem; */
    }

    .container-grid div h2{
        font-size: 1.25rem;
    }

    .game-type{
        font-size: 1.25rem;
    }

    .information div h2{
        font-size: 1.5rem;
    }

    .information div .picture{
        width: 17rem;
    }

    .footer h2{
        font-size: 1.25rem;
    }

    /* tambahan */
    .section-title h3{
        font-size: 1.25rem;
    }

    .fullBackground {
        width: 100%;
        height: 50vh;
    }

    .cover{
        height: 50vh;
    }

    .information-page{
        height: 60vh;  
    }
}

@media(max-width: 600px){

    .container-input-data{
        color: white;
        width: 300px;
        height: auto;
        align-content: center;
        margin: 10px auto;
        padding: 20px;
        padding-bottom: 60px;
    }

    .game-type-selection{
        height: 300px;
    }

    .game-type-description{
        min-height: 200px;
    }

    .footer h3{
        font-size: 0.95rem;
    }
    nav ul li a{
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    #logo{
        width: 7rem;
        margin-top: 1rem;
    }

    .game-type .game-type-text h3{
        /* font-size: 1.5rem; */
    }

    .container-grid div h2{
        font-size: 1rem;
    }

    .game-type{
        font-size: 1rem;
    }

    .information div h2{
        font-size: 1.25rem;
    }

    .information{
        grid-gap: 1rem;
    }

    .information div .picture{
        width: 10rem;
    }

    .footer h2{
        font-size: 1rem;
    }

    /* tambahan */
    .section-title h3{
        font-size: 1rem;
    }

    .fullBackground {
        width: 100%;
        height: 40vh;
    }

    .cover{
        height: 40vh;
    }

    .information-page{
        height: 50vh;  
    }
}

@media(max-width: 440px){
    .ubipost-text{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .footer h3{
        font-size: 0.7rem;
    }

    .fullBackground {
        height: 30vh;
    }

    .cover{
        height: 30vh;
    }

    #logo{
        width: 5rem;
    }

    .footer{
       margin-top: 5rem;
       
    }

    /* tambahan */
    .section-title{
        margin-top: 5rem;
        min-height: 100px;
     }
    
}

@media(max-width: 355px){
    nav{
        text-align: center;
    }
    nav ul{
        float: left;
        width: 100%;
    }
    
    .home{
        display: inline-block;
    }

    .fullBackground {
        height: 25vh;
    }

    .footer h3{
        font-size: 0.5rem;
    }

    .cover{
        height: 25vh;
    }

    .nav-special{
        margin-right: 0.1rem;
    }

    .game-type .game-type-text h3{
        /* font-size: 1.25rem; */
    }

    .container-grid div h2{
        font-size: 0.8rem;
    }

    .game-type{
        font-size: 0.8rem;
    }

    nav ul li a{
        font-size: 0.5rem;
        margin-right: 0.2rem;
    }

    #logo{
        display: none;
    }

    .information div h2{
        font-size: 1.25rem;
    }

    .information div .picture{
        width: 9rem;
    }
}

.type-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }