* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background: black;
    font-size: 18px;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

/* Navbar */
.header {
    width: 100%;
    height: 25vh;
    background: black;
}

.ubipost-background{
    width: 100%;
    height: 7vh;
    background: #575556;
}

.ubipost-text{
    font-size: 2rem;
    float: left;
    margin-left: 6rem;
    color: #ffffff;
}

.ubipost-text h3{
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul{
    background: black;
    margin-top: 2rem;
    padding: 0;
    margin: 0;
    float: right;
}

.last{
    margin-right: 1rem;
}

nav ul li{
    margin-top: 2rem;
    position: relative;
    list-style: none;
    display: inline-block;
    background: black;
}

nav ul li a{
    display: block;
    margin-right: 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav a{
    cursor: pointer;
}

nav ul ul{
    position: absolute;
    display: none;
    z-index: 1;
}

nav ul li:hover > ul{
    z-index: 1;
    display: block;
}

nav ul ul li{
    z-index: 1;
    padding-left: 1rem;
    padding-bottom: 15px;
    float: none;
    display: list-item;
    position: relative;
}

#logo{
    width: 13rem;
    margin-left: 1rem;
    float: left;
}

h4:hover {
    border-color: white;
    color: blue;
    background: white;
    transition: 0.5s ease;
}

/* End Navbar */

.title {
    text-align: center;
    color: white;
    max-width: 80%;
    margin-left: 10%;
}

.title h1 {
    font-size: 90px;
    font-family: 'Roboto Condensed', sans-serif;
}

.title p {
    font-size: 25px;
    margin: 40px;
    font-weight: 30;
}

/* Maps */
.container {
    width: 100%;
    margin-top: 55px;
}

.maps {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.map {
    padding: 30px;
}

.map img {
    border: 1px solid white;
}

.map img:hover {
    transform: scale(1.1);
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

/* Jumbotron */
.jumbotron {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.top {
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 50px;
}

.info {
    color: white;
    margin-right: 50px;
    margin-top: 30px;
}

.info h5 {
    font-size: 40px;
    line-height: 70px;
}

.info hr {
    width: 80%;
    height: 1px;
    color: snow;
    opacity: 0.3;
}

.info p {
    line-height: 30px;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Libre Franklin', sans-serif;
}

/* Back */
.back {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    margin-bottom: 20px;
}

.back a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 50px;
    margin-left: 0px;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
}

.footer h2 {
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
}

.footer img {
    width: 100%;
}

.footer h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.sosmed {
    margin-top: 1rem;
    max-width: 20%;
    margin-left: 40%;
}

.sosmed img {
    margin-top: 1rem;
    width: 100%;
}

#logor7 {
    width: 13rem;
}

.home{
    display: none;
}

@media(max-width: 1024px) {
    .maps {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .jumbotron {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        display: grid;
    }

    .jumbotron .info {
        margin: 50px;
        text-align: center;
    }

    .jumbotron hr {
        margin: auto;
    }

    .footer h2 {
        font-size: 1.5rem;
    }

    .fullBackground {
        width: 100%;
        height: 60vh;
    }

    .cover {
        height: 60vh;
    }

    .footer h3 {
        font-size: 1.3rem;
    }

    #logor7 {
        width: 11rem;
    }
}

@media(max-width: 780px) {
    nav ul li a{
        font-size: 1rem;
        margin-right: 2rem;
    }

    .last{
        margin-right: 0.5rem;
    }

    #logo{
        width: 10rem;
        margin-left: 0.5rem;
    }

    .title h1 {
        font-size: 60px;
    }

    .title p {
        font-size: 20px;
        line-height: 35px;
    }

    .map img:hover {
        transform: scale(1);
        border: 2px solid yellow;
    }

    .jumbotron {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        display: grid;
    }

    .jumbotron .info {
        margin: 50px;
        text-align: center;
    }

    .jumbotron hr {
        margin: auto;
    }
}

@media(max-width: 600px) {
    .maps {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    nav ul li a{
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    #logo{
        width: 7rem;
        margin-top: 1rem;
    }

    .title h1 {
        font-size: 60px;
    }

    .title p {
        font-size: 20px;
        line-height: 35px;
    }

    .map img:hover {
        transform: scale(1);
    }

    .jumbotron {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        display: grid;
    }

    .jumbotron .info {
        margin: 50px;
        text-align: center;
    }

    .jumbotron hr {
        margin: auto;
    }

    .info h5 {
        font-size: 30px;
    }

    .info p {
        font-size: 20px;
    }

    .footer h3 {
        font-size: 0.95rem;
    }

    #logor7 {
        width: 9rem;
    }
}

@media(max-width: 440px) {
    #logo{
        width: 5rem;
    }
    
    nav ul li a{
        font-size: 0.6rem;
    }
    .ubipost-text {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .title h1 {
        font-size: 40px;
    }

    .title p {
        font-size: 15px;
        line-height: 20px;
    }

    .map img:hover {
        transform: scale(1);
    }

    .jumbotron {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        display: grid;
    }

    .jumbotron .info {
        margin: 50px;
        text-align: center;
    }

    .jumbotron hr {
        margin: auto;
    }

    .info h5 {
        font-size: 22px;
    }

    .info p {
        font-size: 17px;
    }

    .footer {
        margin-top: 5rem;
    }

    .footer h3 {
        font-size: 0.7rem;
    }

    #logor7 {
        width: 8rem;
    }
}

@media(max-width:355px){
    nav{
        text-align: center;
    }
    nav ul{
        float: left;
        width: 100%;
    }
    
    .home{
        display: inline-block;
    }

    nav ul li a{
        font-size: 0.5rem;
        margin-right: 0.2rem;
    }

    #logo{
        display: none;
    }
}